* {
  margin: 0;
  padding: 10;
}

nav {
  background-color: #39424e;
}
.nav-link {
  color: #b7c9cc !important;
  font-size: 14px !important;
  font-weight: 550;
  font-family: OpenSans, Arial, Helvetica, sans-serif !important;
  transition-delay: 0.01s;
}
.nav-link:hover {
  color: #ffffff !important;
}
